fastapi
uvicorn
pandas
scikit-learn==1.8.0
joblib
pymongo
pwdlib[argon2]
PyJWT
python-multipart
python-dotenv
pydantic
email-validator
langchain-groq

#python -m uvicorn main:app --reload --port 8000
#http://127.0.0.1:8000/docs